 /*==========*/
/* Main Page */
 /*==========*/
 .content-page {
   visibility: hidden;
}

#main-title {
   padding: 250px 0px;
   background-color: #f5f5f5;
   height: 93vh;
   min-height: 450px;
}

#initial-text {
   max-width: 800px;
   margin: 0 auto;
   font-size: 18px
}

#img1, #img2, #img3, #img4, #img5, #img6 {
   border-bottom-left-radius: 0px !important;
   border-top-left-radius: 0px !important;
   width: 100%;
   height: 100%;
}

.card {
    border: none !important;
 }

 .card-body {
   text-align: justify;
 }

 .btn-sm {
   min-width: 170px;
 }

 #angle-link {
      text-decoration: none;
      color: black;
 }

 /*===============*/
 /* Problems Page */
 /*===============*/

 .easy-color {
    color: rgb(38, 154, 38) !important;
 }

 .medium-color {
    color: orange !important;
 }

.hard-color {
    color: red !important;
 }

 .easy-background {
    background-color: rgb(38, 154, 38) !important;
}

.medium-background {
   background-color: orange !important;
}

.hard-background {
   background-color: red !important;
}

 .w-70 {
    width: 70% !important;
 }


/*================*/
/* Datatables Page */
/*================*/
#problems-table_filter {
   text-align: left; 
}

#problems-table_filter {
   margin-bottom: 15px;
}

@media only screen and (max-width: 767px) {
   #problems-table_paginate {
      margin-top: 5px;
   }
}

#btn-filters {
   padding: 5px 10px;
   color: black;
   background-color: #ebeced;
}

#title-filters {
   margin-bottom: 0.25rem;
   margin-top: 0.25rem;
}

/*========*/
/* Loader */
/*========*/
#loader {
   position: absolute;
   left: 50%;
   top: 50%;
   z-index: 1;
   width: 120px;
   height: 120px;
   margin: -76px 0 0 -76px;
   border: 16px solid #f3f3f3;
   border-radius: 50%;
   border-top: 16px solid #3498db;
   -webkit-animation: spin 2s linear infinite;
   animation: spin 2s linear infinite;
 }
 
 @-webkit-keyframes spin {
   0% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(360deg); }
 }
 
 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }
 
 /* Add animation to "page content" */
 .animate-bottom {
   position: relative;
   -webkit-animation-name: animatebottom;
   -webkit-animation-duration: 1s;
   animation-name: animatebottom;
   animation-duration: 1s
 }
 
 @-webkit-keyframes animatebottom {
   from { bottom:-100px; opacity:0 } 
   to { bottom:0px; opacity:1 }
 }
 
 @keyframes animatebottom { 
   from{ bottom:-100px; opacity:0 } 
   to{ bottom:0; opacity:1 }
 }
 
 #myDiv {
   display: none;
   text-align: center;
 }

 .btn-editor-action {
    min-width: fit-content;
    width: fit-content;
 }

.CodeMirror-wrap {
    border: 1px solid #ccc;
}

.CodeMirror-linenumbers {
   background-color: #d8e5f4;
}

.fa-circle-exclamation{
   color: red;
}

.tab-pane {
   height: 650px;
}

.CodeMirror { border: 1px solid silver; }
.CodeMirror-empty.CodeMirror-focused { outline: none; }
.CodeMirror pre.CodeMirror-placeholder { color: #999; }
.CodeMirror {
   margin-top: 2px;
   height: 684px;
}

a:hover {
   text-decoration: none;
}