#main {
    padding: 100px 0px;
    background-color: #f5f5f5;
}

.card {
    border: none !important;
 }

 .easy-color {
    color: rgb(38, 154, 38) !important;
 }

 .medium-color {
    color: orange !important;
 }

.hard-color {
    color: red !important;
 }
